@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}
span {
    overflow: hidden;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.intro__wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000 url('images/welcombg.jpg') 50% 50% / cover no-repeat;
    z-index: 100;
}
.intro__form {
    margin: 10px auto;
    padding: 20px;
    width: 50%;
    height: calc(100% - 20px);
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
}
.intro__title,
.intro__question,
.intro__alert {
    margin: 0;
    color: white;
    text-align: center;
}
.intro__alert {
    font-size: 11px;
}
.intro__question {
    color: white;
    text-align: center;
}
.intro__name,
.intro__button {
    box-sizing: border-box;
    width: 80%;
    margin: 10px 10%;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px #6E6E6E solid;
    outline: 0;
}
.intro__button {
    background: #2C3053;
    border-color: #6E6E6E;
    color: white;
}
.intro__button:hover {
    background: #4B5287;
    border-color: #CCCCCC   ;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
}
.sidebar {
    width: 20%;
    min-width: 250px;
    height: 100%;
    background: #2C3053;
    color: #CCCCCC;
}
.main {
    width: 80%;
    height: 100%;
    background: #6E6E6E;
}

.sidebar__wrapper,
.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.sidebar__arrow {
    display: none;
}
.sidebar__userinfo {
    height: 50px;
}
.sidebar__userinfo:hover {
    cursor: pointer;
    background: #4B5287;
    color: white;
}
.sidebar__settings {
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    float: right;
}
.sidebar__chatname {
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}
.sidebar__username {
    line-height: 20px;
    font-size: 14px;
    color: white;
    margin-left: 10px;
}
.roomlist-header {
    margin-top: 10px;
}
.room-in-roomlist,
.roomlist-header {
    padding: 2px 10px;
}
.room-in-roomlist:hover {
    cursor: pointer;
    background: #4B5287;
}
.add__button {
    background: #CCCCCC;
    color: #2C3053;
    float: right;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}
.add__button:hover {
    background: #4B5287;
}

.main__wrapper {
    justify-content: space-between;
}
.main__header {
    background: #F9F6EF;
    height: 50px;
    border-bottom: 1px solid #999999;
}
.main__roomname {
    line-height: 26px;
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
}
.main__favorite {
    line-height: 16px;
    font-size: 16px;
    margin-left: 15px;
}
.main__body {
    background: #F9F6EF;
    height: calc(100% - 100px);
    overflow-y: scroll;
}
.main__chat-field {
    height: auto;
    display: flex;
    flex-direction: column;
}
.main__footer {
    background: #F9F6EF;
    height: 60px;
    position: relative;
}
.input-form {
    display: flex;
    position: relative;
    margin: 0 15px;
    padding: 5px 0;
    height: 80%;
    width: calc(100%-30px);
    justify-content: space-between;
}
.input-form__plus,
.input-form__send {
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    text-align: center;
    background: white;
    padding-top: 7px;
    font-size: 25px;
    border: 3px solid #6E6E6E;
    color: #6E6E6E;
    border-radius: 22px;
    cursor: pointer;
}
.input-form__text-field {
    box-sizing: border-box;
    height: 45px;
    width: calc(100% - 100px);
    background: white;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 3px solid #6E6E6E;
    color: #6E6E6E;
}
.input-form__input {
    font-size: 18px;
    margin: 7px 18px;
    width: 90%;
    border: 0;
    outline: 0;
}

.message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}
.message:hover {
    background: #DDDDDD;
}
.message__avatar {
    background: no-repeat 50% 50% / cover;
    float: left;
    width: 50px;
    height: 50px;
    margin: 2px;
    margin-right: 7px;
    overflow: hidden;
}
.message__text {
    padding-left: 60px;
    padding-right: 15px;
    font-size: 14px;
}
.message__title {
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.message__title > span {
    font-weight: hormal;
    font-size: 12px;
}
.date-line {
    width: 90%;
    margin: 10px auto 13px;
    border: 2px solid #6E6E6E;
    position: relative;
}
.date-line-text {
    position: absolute;
    width: 100px;
    top: -11px;
    left: 50%;
    margin-left: -50px;
    background: #F9F6EF;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.overlay__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 100;
    overflow: hidden;
}
.overlay__form,
.modal-form{
    margin: 10px auto;
    padding: 20px;
    width: 50%;
    height: calc(100% - 20px);
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
}
.overlay__title {
    margin: 0;
    color: white;
    text-align: center;
}
.overlay__input,
.overlay__button {
    box-sizing: border-box;
    width: 80%;
    margin: 10px 10%;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px #6E6E6E solid;
    outline: 0;
}
.overlay__button {
    background: #2C3053;
    border-color: #6E6E6E;
    color: white;
}
.overlay__button:hover {
    background: #4B5287;
    border-color: #CCCCCC   ;
}

.avatar__selector {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.selector__avatar {
    background: no-repeat 50% 50% / cover;
    float: left;
    width: 70px;
    height: 70px;
    margin: 2px;
    margin-right: 7px;
}
.selector__avatar:hover {
    background-color: white;
}
.selected__avatar {
    background-color: #DDDDDD;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 100;
}
.modal-form {
    padding: 0;
}
.modal-textarea {
    width: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;
    resize: vertical;
    height: 200px;
    max-height: 50%;
}

.add-line {
    position: absolute;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    cursor: default;
}
.add-line > div {
    font-size: 18px;
    line-height: 35px;
    padding: 0 20px;
    margin: 0;
    cursor: pointer;
    border-radius: 19px;
}
.add-line > div:hover {
    background: #4B5287;
    color: white;
}

@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        z-index: 10;
        width: 10%;
        min-width: 0;
        transition: 0.3s;
    }
    .full {
        width: 60%;
    }
    .sibebar__wrapper {
        display: none;
    }
    .visible {
        display: inherit;
    }
    .sidebar__arrow {
        position: absolute;
        display: block;
        top: 50%;
        right: 8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0 20px 30px;
        border-color: transparent transparent transparent #FFFFFF;
    }
    .left {
        border-width: 20px 30px 20px 0;
        border-color: transparent #ffffff transparent transparent;
    }
    .sidebar__chatname {
        display: none;
    }
    .main {
        width: 90%;
        margin-left: 10%;
    }
    .overlay__form,
    .intro__form {
        margin: 10px 10px;
        padding: 20px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background: rgba(0,0,0,0.7);
        box-sizing: border-box;
    }
    .input-form__input {
        width: 75%;
    }
}   